h1, body {
  text-align: center;
}

body {
  background-color: rgba(12, 12, 124, 0.335);
}
.index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.home-div {
  height: 80vh;
}

/* footer */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}