h1, body {
  text-align: center;
}

body {
  background-color: rgba(12, 12, 124, 0.335);
}
.index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.home-div {
  height: 80vh;
}

/* footer */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* ---INDEX--- */
.index-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* nav */
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-right: 50px;
}

/* ---SHOW--- */
.cat-show-card {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin: 20px;
}